/*
Community Website Stylesheet
Daniel Causey
Dylan Buehler
Taylor Gross
*/

body{
    background-color: dimgray;
}

div{
    background-color:white;
    width:75%;
    margin:auto;
    text-align:center;
}

#Logo{
    float: left;
    width: 10%;
}