/*
Community Website Stylesheet
Daniel Causey
Dylan Buehler
Taylor Gross
*/

body{
    background-color: green;
}

div{
    background-color:white;
    width:75%;
    margin:auto;
    text-align:center;
}
